/Research/Phase_masks/
/Research/SegModels/
/ImageRepo
/training_imgs
Research/SegModels/model_final.pth
TR-Y4-Project\Model_v2
TR-Y4-Project\Training
TR-Y4-Project\Training\Phase_mask
TR-Y4-Project\Training\phase_mask_2
Training/Phase_mask/phase_0_mask.tif
Training/Phase_mask/phase_1_mask.tif
Training/Phase_mask/phase_2_mask.tif
Training/Phase_mask/phase_3_mask.tif
Training/Phase_mask/phase_4_mask.tif
Training/Phase_mask/phase_5_mask.tif
Training/Phase_mask/phase_6_mask.tif
Training/Phase_mask/phase_7_mask.tif
Training/Phase_mask/phase_8_mask.tif
Training/Phase_mask/phase_9_mask.tif
Training/Phase_mask/phase_10_mask.tif
Training/Phase_mask/phase_11_mask.tif
Training/Phase_mask/phase_12_mask.tif
Training/Phase_mask/phase_13_mask.tif
Training/Phase_mask/phase_14_mask.tif
Training/Phase_mask/phase_15_mask.tif
Training/Phase_mask/phase_16_mask.tif
Training/Phase_mask/phase_17_mask.tif
Training/Phase_mask/phase_18_mask.tif
Training/Phase_mask/phase_19_mask.tif
Training/Phase_mask/phase_20_mask.tif
Training/Phase_mask/phase_21_mask.tif
Training/Phase_mask/phase_22_mask.tif
Training/Phase_mask/phase_23_mask.tif
Training/Phase_mask/phase_24_mask.tif
Training/Phase_mask/phase_25_mask.tif
Training/Phase_mask/phase_26_mask.tif
Training/Phase_mask/phase_27_mask.tif
Training/Phase_mask/phase_28_mask.tif
Training/Phase_mask/phase_29_mask.tif
Training/Phase_mask/phase_30_mask.tif
Training/Phase_mask/phase_31_mask.tif
Training/Phase_mask/phase_32_mask.tif
Training/Phase_mask/phase_33_mask.tif
Training/Phase_mask/phase_34_mask.tif
Training/Phase_mask/phase_35_mask.tif
Training/Phase_mask/phase_36_mask.tif
Training/Phase_mask/phase_37_mask.tif
Training/Phase_mask/phase_38_mask.tif
Training/Phase_mask/phase_39_mask.tif
Training/Phase_mask/phase_40_mask.tif
Training/Phase_mask/phase_41_mask.tif
Training/Phase_mask/phase_42_mask.tif
Training/Phase_mask/phase_43_mask.tif
Training/Phase_mask/phase_44_mask.tif
Training/Phase_mask/phase_45_mask.tif
Training/Phase_mask/phase_46_mask.tif
Training/Phase_mask/phase_47_mask.tif
Training/Phase_mask/phase_48_mask.tif
Training/Phase_mask/phase_49_mask.tif
Training/Phase_mask/phase_50_mask.tif
Training/Phase_mask/phase_51_mask.tif
Training/Phase_mask/phase_52_mask.tif
Training/Phase_mask/phase_53_mask.tif
Training/Phase_mask/phase_54_mask.tif
Training/Phase_mask/phase_55_mask.tif
Training/Phase_mask/phase_56_mask.tif
Training/Phase_mask/phase_57_mask.tif
Training/Phase_mask/phase_58_mask.tif
Training/Phase_mask/phase_59_mask.tif
Training/Phase_mask/phase_60_mask.tif
Training/Phase_mask/phase_61_mask.tif
Training/Phase_mask/phase_62_mask.tif
Training/Phase_mask/phase_63_mask.tif
Model_v2/config.yaml
Model_v2/events.out.tfevents.1740500248.DESKTOP-MKRTI38.43752.0
Model_v2/events.out.tfevents.1740504986.DESKTOP-MKRTI38.43752.1
Model_v2/events.out.tfevents.1740505615.DESKTOP-MKRTI38.57244.0
Model_v2/last_checkpoint
Model_v2/metrics.json
Model_v2/model_final.pth
Image_repo/t_1_MMStack_Default_6.ome.tif
Model_v3
Phase_masks_Tiff
Phase_masks_Tiff\amoeba
Tiff_train/Labels/labels_tiff-model_2025-03-05-11-28-36.json
Tiff_train/label_imgs/Label_im_1.png
Tiff_train/label_imgs/Label_im_2.png
Tiff_train/label_imgs/label_im_3.png
Tiff_train/test_Im/test_im_1.png
Tiff_train/test_Im/test_output.png
Research/SavedSegs/tiffPhaseSegs_Mv2/amoeba/phase_0_amoeba.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/amoeba/phase_1_amoeba.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/amoeba/phase_2_amoeba.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/amoeba/phase_3_amoeba.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/amoeba/phase_4_amoeba.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/yeast/phase_0_yeast.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/yeast/phase_1_yeast.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/yeast/phase_2_yeast.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/yeast/phase_3_yeast.tif
Research/SavedSegs/tiffPhaseSegs_Mv2/yeast/phase_4_yeast.tif
Research/SavedSegs/tiffPhaseSegs/amoeba/phase_0_amoeba.tif
Research/SavedSegs/tiffPhaseSegs/amoeba/phase_1_amoeba.tif
Research/SavedSegs/tiffPhaseSegs/amoeba/phase_2_amoeba.tif
Research/SavedSegs/tiffPhaseSegs/amoeba/phase_3_amoeba.tif
Research/SavedSegs/tiffPhaseSegs/amoeba/phase_4_amoeba.tif
Research/SavedSegs/tiffPhaseSegs/yeast/phase_0_yeast.tif
Research/SavedSegs/tiffPhaseSegs/yeast/phase_1_yeast.tif
Research/SavedSegs/tiffPhaseSegs/yeast/phase_2_yeast.tif
Research/SavedSegs/tiffPhaseSegs/yeast/phase_3_yeast.tif
Research/SavedSegs/tiffPhaseSegs/yeast/phase_4_yeast.tif
